<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partial/meta.ejs") %>
    <title><%=title %></title>
</head>
<body>
    <%- include("../partial/data.ejs") %>
    <%- include("../partial/section.ejs") %>
    <%- include("../partial/pricing.ejs") %>

    <h1>Hi, this is index.html</h1>
    <a href="/download">Download this file</a>
    
</body>
</html>